
/*-------------ANIMATION--------------*/

@keyframes driftLeft{

    0%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) * -1))
            translateY(0)
            scale(1);

    }

    20%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) * -1 - 3px))
            translateY(-5px)
            scale(1.02);

    }

    45%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) * -1 + 2px))
            translateY(4px)
            scale(.985);

    }

    70%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) * -1 - 4px))
            translateY(2px)
            scale(1.015);

    }

    100%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) * -1))
            translateY(0)
            scale(1);

    }

}

@keyframes driftRight{

    0%{

        transform:
            translate(-50%, -50%)
            translateX(var(--sample-distance))
            translateY(0)
            scale(1);

    }

    25%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) + 4px))
            translateY(5px)
            scale(.985);

    }

    55%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) - 3px))
            translateY(-3px)
            scale(1.02);

    }

    80%{

        transform:
            translate(-50%, -50%)
            translateX(calc(var(--sample-distance) + 2px))
            translateY(2px)
            scale(.99);

    }

    100%{

        transform:
            translate(-50%, -50%)
            translateX(var(--sample-distance))
            translateY(0)
            scale(1);

    }

}

@keyframes mergeLeft{

    0%{

        transform:

            translate(-50%,-50%)

            translateX(calc(var(--sample-distance) * -1))

            scale(1);

        opacity:1;

    }

    55%{

        transform:

            translate(-50%,-50%)

            translateX(calc(var(--sample-distance) * -.45))
            translateY(-70px)

            scale(1);

    }

    82%{

        transform:

            translate(-50%,-50%)

            translateX(calc(var(--sample-distance) * -.12))
            translateY(-32px)

            scale(.98);

    }

    92%{

        transform:

            translate(-50%,-50%)

            translateX(calc(var(--sample-distance) * -.12))
            translateY(-10px)

            scale(.97);

    }


    100%{

        transform:

            translate(-50%,-50%)

            translateX(18px)
            translateY(0)

            scale(.95);

        opacity:1;

    }

}

@keyframes mergeRight{

    0%{

        transform:

            translate(-50%,-50%)

            translateX(var(--sample-distance))

            scale(1);

        opacity:1;

    }

    55%{

        transform:

            translate(-50%,-50%)

            translateX(calc(var(--sample-distance) * .45))

            translateY(55px)

            scale(.98);

    }

    82%{

        transform:

            translate(-50%,-50%)

            translateX(calc(var(--sample-distance) * .12))

            translateY(26px)

            scale(.90);

    }

    100%{

        transform:

            translate(-50%,-50%)

            translateY(0)

            translateX(0)

            scale(.72);

        opacity:1;

    }

}

/*--------- BASE -----------*/

.anchor{

    position:absolute;

    top:50%;
    left:50%;

    --sample-size:35px;

    width:var(--sample-size);
    height:var(--sample-size);

    z-index:1;

    transition:
        opacity .45s ease,
        transform .45s cubic-bezier(.22,.61,.36,1);

}

/* ---------- ACTIVATED ---------- */

.left{

    transform:

        translate(-50%, -50%)

        translateX(calc(var(--sample-distance) * -1));

    transition-delay:.20s;

}

.right{

    transform:

        translate(-50%, -50%)

        translateX(var(--sample-distance));

    transition-delay:.35s;
}

.left.hidden{

    opacity:0;

    transform:

        translate(-50%, -50%)

        translateX(calc(var(--sample-distance) * -1 + 30px));

}

.left.visible{

    opacity:1;

    transform:

        translate(-50%, -50%)

        translateX(calc(var(--sample-distance) * -1));

}

.right.hidden{

    opacity:0;

    transform:

        translate(-50%, -50%)

        translateX(calc(var(--sample-distance) - 30px));

}

.right.visible{

    opacity:1;

    transform:

        translate(-50%, -50%)

        translateX(var(--sample-distance));

}

.floatingLeft{

    animation:

        driftLeft 8.6s ease-in-out infinite;

}

.floatingRight{

    animation:

        driftRight 10.2s ease-in-out infinite;

}

/*---------------PROCESSING-------------*/

.processing.left{

    animation:

        mergeLeft

        2.8s

        cubic-bezier(.22,.61,.36,1)

        80ms

        forwards;

}

.processing.right{

    animation:

        mergeRight

        2.35s

        cubic-bezier(.22,.61,.36,1)

        80ms

        forwards;

}

/*--------RESULT-----------*/

.result.left{

    opacity:0;
    visibility:hidden;
    pointer-events:none;

}

.result.right{

    opacity:0;
    visibility:hidden;
    pointer-events:none;

}

