

.field{

    position:absolute;

    inset:0;

    opacity:0;

    pointer-events:none;

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:1;

    
}

.axisA{

    opacity:0;

    position:absolute;

    top:50%;

    left:50%;

    width:360px;

    height:4px;

    border-radius:999px;

    background: rgba(145,160,255,.55);

    transform:

        translate(-50%, -50%)

       rotate(0deg)

       scale(.75);
}

.axisB{

    opacity:0;

    position:absolute;

    top:50%;

    left:50%;

    width:360px;

    height:4px;

    border-radius:999px;

    background:rgba(145,160,255,.55);

    transform:

        translate(-50%, -50%)
        
        rotate(0deg)
        
        scale(.75);

}

.axisA::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:999px;

    background:inherit;

    filter:blur(8px);

    opacity:0;

}

.axisB::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:999px;

    background:inherit;

    filter:blur(8px);

    opacity:0;

}


@keyframes transferEnergy{

    0%{

        opacity:0;

        transform:
            
            rotate(0deg)

            translate(-50%,-50%)

            rotate(deg)

            scale(1);

    }

    100%{

        opacity:.18;

        transform:

            translate(-50%,-50%)

            rotate(45deg)

            scale(.88);

    }

}

@keyframes axisRevealA{

    0%{

        opacity:0;

        transform:

            translate(-50%,-50%)

            rotate(0deg)

            scale(.75);

    }

    100%{

        opacity:1;

        transform:

            translate(-50%,-50%)

            rotate(45deg)

            scale(1);

    }

}

@keyframes axisRevealB{

    0%{

        opacity:0;

        transform:

            translate(-50%,-50%)

            rotate(0deg)

            scale(.75);

    }

    100%{

        opacity:1;

        transform:

            translate(-50%,-50%)

            rotate(-45deg)

            scale(1);

    }

}

@keyframes axisRevealB{

    0%{

        opacity:0;

        transform:

            translate(-50%,-50%)

            rotate(0deg)

            scale(.75);

    }

    100%{

        opacity:1;

        transform:

            translate(-50%,-50%)

            rotate(-45deg)

            scale(1);

    }

}
