

.symbol{

    position:absolute;

    width:130px;

    height:130px;

    left:50%;

    top:50%;

    z-index:5;

    transform:

        translate(-50%, -50%)

        scale(.94);

    opacity:.10;

    color: rgba(90,110,140,.55);

    transition:

        opacity .35s ease,

        transform .35s ease,

        color .35s ease,

        filter .35s ease;

}

.hover{

    opacity:.50;

    transform:

        translate(-50%, -50%)

        scale(1);

}

.activated{

    opacity:.85;

    color:#EF4444;

}

.synchronizing{ 

    animation:

        synchronizingPulse

        1.2s

        ease-in-out

        infinite;

}

.processing{

    color:#4ADE80;

}

.hover .ring{

    stroke-dashoffset:0;

}

.ring{

    fill:none;

    stroke:currentColor;

    stroke-width:3;

}

.ringOutline{

    fill:none;

    stroke:currentColor;    

    stroke-width:2.2;

}


.ready{

    color:#4ADE80;

}

.stem{

    fill:none;

    stroke:currentColor;

    stroke-width:3;

}

.stemOutline{

    fill:none;

    stroke:#000;

    stroke-width:2.2;

}


.result{

}


@keyframes synchronizingPulse{

    0%{

        color:#DC2626;

        filter:

            drop-shadow(
                0 0 2px rgba(220,38,38,.25)
            );

    }

    50%{

        color:#FF5A5A;

        filter:

            drop-shadow(
                0 0 6px rgba(255,90,90,.45)
            );

    }

    100%{

        color:#DC2626;

        filter:

            drop-shadow(
                0 0 2px rgba(220,38,38,.25)
            );

    }

}


