
/*----------------------
 *
 * animation
 *
 *-------------------*/


@keyframes synchronizingPulse{

    0%{

        opacity:.90;

        color:#4ADE80;

        filter:
            drop-shadow(0 0 4px rgba(239,68,68,.30));

    }

    35%{

        opacity:.70;

        color:#2a2fbe;

    }

    65%{

        opacity:.40;

        color:#be2aa8;

    }

    100%{

        opacity:.08;

        color:#2a8abe;

        filter:
            drop-shadow(0 0 2px rgba(74,222,128,.20));

    }

}

@keyframes symbolFade {

    0% {

        opacity: 1;
        transform: translate(-50%, -50%) scale(1);

        filter: blur(0);

    }

    40% {

        opacity: .9;
        transform: translate(-50%, -50%) scale(.98);

    }

    70% {

        opacity: .45;
        transform: translate(-50%, -50%) scale(.92);

        filter: blur(.4px);

    }

    100% {

        opacity: 0;

        transform: translate(-50%, -50%) scale(.82);

        filter: blur(1px);

    }

}

/*----------------------
 *
 * BASE
 *
 *-------------------*/



.symbol{

    position:absolute;

    width:130px;

    height:130px;

    left:50%;

    top:50%;

    z-index:5;

    transform:

        translate(-50%, -50%)

        scale(.94);

    opacity:.10;

    color: rgba(90,110,140,.55);

    transition:

        opacity .35s ease,

        transform .35s ease,

        color .35s ease,

        filter .35s ease;

}

.hover{

    opacity:.50;

    transform:

        translate(-50%, -50%)

        scale(1);

}



.hover .ring{

    stroke-dashoffset:0;

}

.ring{

    fill:none;

    stroke:currentColor;

    stroke-width:3;

}

.ringOutline{

    fill:none;

    stroke:currentColor;

    stroke-width:2.2;

}


.stem{

    fill:none;

    stroke:currentColor;

    stroke-width:3;

}

.stemOutline{

    fill:none;

    stroke:#000;

    stroke-width:2.2;

}


/*----------------------
 *
 * activated
 *
 *-------------------*/


.activated{

    opacity:.85;

    color:#EF4444;

}

/*----------------------
 *
 * synchronizing
 *
 *-------------------*/




.synchronizing{

    color:#4ADE80;

}


/*----------------------
 *
 * processing
 *
 *-------------------*/

.ready{

    color:#4ADE80;

}

.processing{

    animation-fill-mode: both;

       animation:

        synchronizingPulse

        1.8s

        ease-in-out

        4s

        infinite

        both;

    filter:

        drop-shadow(0 0 4px rgba(74,222,128,.25));

}

/*----------------------
 *
 * result
 *
 *-------------------*/


.result {

    animation:
        symbolFade
        1.4s
        ease-out
        forwards;

}
